/*#nav {
    z-index: 100;
    padding: 0;
    margin: 0;
}*/

#carrusel{
    padding: 0;
    margin: 0; 
    
}
#menu{
    color:#D7C8C1;
    transition: all 1s linear;
    padding: 0;
    z-index: 100;
    margin: 0;
}   
.card-img-top{
    transition: all 0.5s ease;
}
.card-img-top:hover{
    transform: translate(-5px,-10px);
    box-shadow: 5px 2px 10px rgb(5, 5, 5);
}
#menu.azul{
    background: linear-gradient(to bottom, rgb(63, 65, 64),rgb(73, 105, 212)); /*color degradado*/
    
}
#menu.azul a{
    color: black;
}
#menu.azul button{
    border-color: black;
   
}

.celNav{
    background: linear-gradient(to bottom, rgb(63, 65, 64),rgb(73, 105, 212));/*color degradado*/
    
}

/*tamaño cellular*/

@media (max-width: 767px) {
    .textCel {
      font-size:15px;
    }
    
  }
/*@media(max-width: 767px){
    .navbar{
        background: transparent;
       /* background: linear-gradient(to bottom, rgb(63, 65, 64),rgb(117, 95, 168));
    }
    .estilonav a{
        color: black;
    }
}*/

.estilonav a:hover{
    background: rgba(127, 169, 233, 0.1);
}

.estilonav a{
    color: #ffffff;
}
#menu a{
    color: white;
}
.estilotrabajo a{
    color: black;
}
.estilotrabajo a:hover{
    /*background: rgba(173, 8, 8, 0.1);*/
    color: rgb(226, 153, 43);

}

.op{
   opacity: .9;
}
/*--------*/
/* footer */
footer{
    padding: 40px 0;
}
#sticky-footer {
    flex-shrink: none;
  }